@import url('./cabecalho.css');
@import url('./conteudo.css');
@import url('./rodape.css');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

html{
    font-size: 62.8%;
}

.tit-sec{
    text-align: center;
    margin: 2vh 0;
    font-size: 3em;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

/* BREAKPOINT 590px */
@media(max-width:590px){
    .cabecalho{
        flex-direction: column;
    }

    .cabecalho nav{
        flex-wrap: nowrap;
        height: 10vh;
    }

    .cabecalho a{
        padding: 2vh 0;
        font-size: 2rem;
    }
}

table{
    border-collapse: collapse;
    margin: 5% auto;
}


th, td{
    border: solid 1px #dddddd;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #cccccc;
}

tr:hover{
    background-color: #140f0fcc;
}

td[colspan]{
    text-align: center;
}
